* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-width: 100%;
}
body {
  width: 100%;
  color: #14213d;
  background-color: #ffffff;
  font-size: 16px;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
}
