@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .product-img-container:hover .product-img-overlay {
    display: block;
  }
  .product-img-container:hover .product-details-link {
    display: flex;
  }
  .category-img-container:hover .product-img-overlay {
    display: block;
  }
  .category-img-container:hover .category-shop-link {
    display: flex;
  }
  .text-to-be-wrapped {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-word-break: break-word;
  }
}
@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-RobotoSlab;
  }
  h1,
  h2 {
    @apply font-bold;
  }
  h4,
  h5,
  h6 {
    @apply font-medium;
  }
  html {
    @apply lg:text-[18px] scroll-smooth;
  }
  body {
    @apply font-OpenSans overflow-x-hidden tracking-normal;
  }
  li {
    @apply cursor-pointer;
  }
  button {
    @apply cursor-pointer;
  }
  input[type="checkbox"] {
    @apply cursor-pointer;
  }
  input[type="radio"] {
    @apply cursor-pointer;
  }
  li {
    @apply list-none;
  }
  .active-sorting-lists {
    @apply flex;
  }
  .homepage-active-category-tab div {
    @apply w-[100%] transition ease-in duration-100;
  }
}
